.wrapper input {
	display: none;
}

#wrapper_slider {
	position: relative;
	text-align: center;
	top: 20px;
}

#slides article {
	width: 20%;
	float: left;
}

#slides .image {
	width: 500%;
	line-height: 5;
}

#wrapper_slides {
	width: 100%;
	overflow: hidden;
}

article img {
	width: 40%;
}

#desktop:checked~#slider {
	max-width: 960px;
}

label {
	cursor: pointer;
}

#switch2:checked~#slides .image {
	margin-left: -100%;
}

#switch3:checked~#slides .image {
	margin-left: -200%;
}

#switch4:checked~#slides .image {
	margin-left: -300%;
}

#switch5:checked~#slides .image {
	margin-left: -400%;
}

#controls {
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#active label {
	border-radius: 15px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: black;
}

#active {
	margin: 22% 30% 0 0;
	text-align: right;
}

#active label:hover {
	background: gray;
	border-color: gray;

}

#switch1:checked~#active label:nth-child(1),
#switch2:checked~#active label:nth-child(2),
#switch3:checked~#active label:nth-child(3),
#switch4:checked~#active label:nth-child(4),
#switch5:checked~#active label:nth-child(5) {
	background: purple;
	border-color: purple;
}

#slides .image {
	transition: all 1000ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}